<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         syntaxCheck="false"
         bootstrap="tests/init.php">

    <testsuites>
        <testsuite name="Autoload">
            <directory suffix=".test.php">tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
        <blacklist>
            <directory>tests/_data</directory>
            <directory>src/templates</directory>
        </blacklist>
    </filter>

    <logging>
        <log type="coverage-html" target="tests/_coverage" charset="UTF-8"  yui="true" highlight="true"/>
    </logging>

</phpunit>